
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">

        <a class="navbar-brand" routerLink="/home">USERS MANAGEMENT</a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="page1"><span>PAGE 1</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="page2"><span>PAGE 2</span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" routerLink="page3"><span>PAGE 3</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="admin"><span>ADMIN PANEL</span></a>
            </li>
        </ul>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a (click)="logOut()" class="nav-link">LOGOUT</a>
            </li>
        </ul>
    </div>
</nav>

  
<ng-container *ngIf="userClaims">
  <h1>HELLO {{userClaims.UserName | uppercase }}!</h1>
</ng-container>
  