
<div class="container">

  <h1 class="display-4 titleAdminPanel">Administration Panel</h1>

  <div *ngIf="usersList">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">USERNAME</th>
          <th scope="col">OPERATIONS</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let user of usersList">
          <th scope="row">{{user.Id}}</th>
          <td>{{user.UserName}}</td>
          <td>
            <button type="button" [disabled]="allowedToOperate(user.Id)" (click)="getUser(user.Id)" class="btn btn-light">Modify</button>
            <!-- <button type="button" (click)="showDialog = !showDialog" class="btn btn-light">Modify</button>- -->
            <button type="button" [disabled]="allowedToOperate(user.Id)" (click)="deleteUser(user.Id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!--Modal de alta y/o modificación-->
<app-user-modal [selectedUser]="selectedUser" [(visible)]="showDialog"></app-user-modal>


