<div class="container">

    <div class="row title">
            <h1 class="display-3">Wellcome! :)</h1>
    </div>
    
    <article>
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <ul class="list-unstyled">
                    <li>BACKEND
                        <ul>
                            <li>MVC WebAPI2</li>
                            <li>Entity framework 4.6.1</li>
                            <li>Dependency Injection with Ninject</li>
                            <li>OAuth authentication</li>
                            <li>Local DB</li>
                            <li>Unit Tests with MS-Test</li>
                            <li>Repository pattern</li>
                        </ul>
                    </li>
                </ul>
            </div>

           
            <div class="col-md-12 col-lg-6 rightColumn">
                <ul class="list-unstyled">
                    <li>FRONTEND
                        <ul>
                            <li>SPA framework: Angular 7</li>
                            <li>Html5</li>
                            <li>Css3</li>
                            <li>TypeScript</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </article>
</div>