<div [@dialog] *ngIf="visible" class="dialog">
  <!-- <ng-content></ng-content> -->

  <div class="container">

    <form [formGroup]="userForm">
     
      <h3>User details</h3>

      <div class="row">
        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-xs-6">
            <label for="Username"><b>Username</b></label>
            <input class="form-control" type="text" placeholder="Username"
              formControlName="Username">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-6">
          <label for="password"><b>New password</b></label>
          <input class="form-control" type="password" placeholder="Password"
            formControlName="Password">
        </div>
      </div>

     <label><b>Roles</b></label>

      <ng-container *ngIf="roleControlArray">
        
        
          <div class="form-group" *ngFor="let role of roleControlArray.controls; let i = index">        
            <div class="checkbox" *ngIf="role.get('roleName')?.value !== 'ADMIN'">
              <label>
                <input [formControl]="role.get('selected')" type="checkbox">
                {{role.get('roleName').value}}
              </label>
            </div>
          </div>
  
        </ng-container>


      <!--<div class="col-md-12 mg-top-15">
  <h5>Toppings</h5>
  <div class="ToppingsSelector" formArrayName="toppings">
    <div class="ToppingsSelector__item" *ngFor="let topping of toppingsArray.controls" [formGroup]="topping" >
      <mat-checkbox [formControl]="topping.get('selected')">
        {{topping.get('name').value}}
      </mat-checkbox>
    </div>
  </div>
</div>-->

      <button (click)="showDialog = !showDialog" class="btn">Close</button>
      <button type="submit" class="btn">Update</button>
    </form>
  </div>
  <button *ngIf="closable" (click)="close()" aria-label="Close" class="dialog__close-btn">X</button>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>