
<form (submit)="login($event)" [formGroup]="user">

  <div class="imgcontainer">
    <img src="../../../assets/images/login/xD.JPG" alt="Avatar" class="avatar">
  </div>
  
  <div class="container">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-6">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Username" formControlName="Username">
      </div>
    </div>
 
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-6">
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Password" formControlName="Password">
      </div>
    </div>

    <button type="submit" value="Login" [disabled]="user.invalid">Login</button>
  </div>

</form>


